body{background-color: oldlace;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%
}

main{background-color: aqua;
height: 100%;
width: 75%;}

header{background-color: chocolate;
    width:100%;
    height: 25%;
    text-align: center;
    padding-bottom: 5px;
    clear: both;
}

div{width:calc(100%/3);
height: calc(100%/2);
float: left;
    box-sizing: border-box;
}
#ltop{background-color
    :red;
    border: solid 5px green;
    width:calc(100%/3);
    height: 250px;
    margin:0;
    padding:10px;
    float: left;
    box-sizing: border-box;
    
    
}



#lbottom{background-color:white;
border: solid 5px lime;
width:calc(100%/3);
height:250px;
    margin:0;
    padding:10px;
    float: left;
    box-sizing: border-box;
}

#mid{background-color: blue;
    width:calc(100%/3);
    height: 500px;
    margin:0;
    padding:10px;
    float: right;
    text-align: center;
    box-sizing: border-box;
    
}

#right{background-color: orange;width:calc(100%/3);
    height: 500px;
    margin:0;
    padding:10px;
    float: right;
    text-align: center;
    box-sizing: border-box;
    
}

footer{background-color: salmon;
padding-top: 5px;
clear:both;
text-align: center;
height: 10px;
width:100% ;
}





