body{background-color: oldlace;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%
}

header{background-color: chocolate;
    width:100%;
    height: 10%;
    text-align: center;
    padding-top: 5px;
    clear: both;
}

div{width:calc(100%/3);
height: calc(100%/2);
float: left;
}
/*#ltop{background-color
    :red;
    border: solid 5px green;
    width:50%;
    height: cal(100%/2);
    margin:0;
    padding:10px;
    float: left;
    
    
}

#lbottom{background-color:white;
border: solid 5px lime;
width:cal(100%/3);
height: cal(100%/2);
    margin:0;
    padding:10px;
    float: left;
}*/

#mid{background-color: blue;
    width:calc(100%/3);
    height: 100%;
    margin:0;
    padding:10px;
    float: left;
    text-align: center;
    
}

#right{background-color: orange;width:calc(100%/3);
    height: 100%;
    margin:0;
    padding:10px;
    float: right;
    text-align: center;
    
}

footer{background-color: purple;}



